
#templatemo_left_section {
	width: 700px;
	margin: 0;

}

.templatemo_left_section_box {

	width: 930px;
	margin: 0 0 15px 0;
}

.templatemo_left_section_box_top {
	width: 912px;	
}

.templatemo_left_section_box_body {
	width: 900px;
}
