
#templatemo_middle_section {
	width: 1px;
	margin: 0 0 0 0;
}

.templatemo_middle_section_box {
	width: 1px;	
}

#templatemo_left_section {
	width: 700px;
	margin: 0;

}

.templatemo_left_section_box {

	width: 700px;
	margin: 0 0 15px 0;
}

.templatemo_left_section_box_top {
	width: 683px;	
}

.templatemo_left_section_box_body {
	width: 670px;
}

